<div class="container mt-5">
  <div class="accordion" id="worksAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Milyen felújításokra lehet felhasználni a támogatást?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#worksAccordion"
      >
        <div class="accordion-body">
          <ul class="list-group">
            <li class="list-group-item">
              Víz-, csatorna-, elektromos-, gáz-közműszolgáltatás bevezetése,
              illetve belső/külső hálózat kiépítése vagy cseréje.
            </li>
            <li class="list-group-item">
              Fürdőhelyiség vagy WC létesítése olyan lakásban, amely nem
              rendelkezik ilyen helyiséggel.
            </li>
            <li class="list-group-item">
              Fűtési rendszer kialakítása, korszerűsítése, vagy elemeinek
              cseréje, beleértve a megújuló energiaforrások alkalmazását.
            </li>
            <li class="list-group-item">
              Épület külső festése, színezése, szigetelése (hő-, hang-,
              vízszigetelés).
            </li>
            <li class="list-group-item">
              Külső nyílászárók beépítése, cseréje, redőny, árnyékoló, vagy
              egyéb kiegészítők felszerelése.
            </li>
            <li class="list-group-item">
              Tető cseréje, felújítása, szigetelése.
            </li>
            <li class="list-group-item">
              Égéstermék-elvezető építése, korszerűsítése.
            </li>
            <li class="list-group-item">
              Klímaberendezés beépítése vagy cseréje.
            </li>
            <li class="list-group-item">
              Napkollektor vagy napelemes rendszer telepítése.
            </li>
            <li class="list-group-item">
              Belső tér felújítása, ideértve festés, burkolás, galériaépítés,
              szaniterek beépítése, világítótestek cseréje.
            </li>
            <li class="list-group-item">
              Lakáson kívüli épületek felújítása (pl. nyári konyha, tároló).
            </li>
            <li class="list-group-item">Kerítés építése vagy felújítása.</li>
            <li class="list-group-item">
              Gépjárműtároló építése vagy felújítása, nyitott gépkocsibeálló
              kialakítása.
            </li>
            <li class="list-group-item">
              Terasz, loggia, erkély, előtető építése, felújítása.
            </li>
            <li class="list-group-item">
              Térburkolat vagy külső lépcső készítése.
            </li>
            <li class="list-group-item">Télikert kialakítása.</li>
            <li class="list-group-item">Akadálymentesítési munkálatok.</li>
            <li class="list-group-item">Alapozási szerkezet megerősítése.</li>
            <li class="list-group-item">
              Beépíthető bútorok vagy konyhai gépek beépítése, cseréje.
            </li>
            <li class="list-group-item">
              Használati melegvíz-rendszer kialakítása vagy korszerűsítése.
            </li>
            <li class="list-group-item">
              Szellőzési rendszer kialakítása, korszerűsítése.
            </li>
            <li class="list-group-item">
              Egyedi szennyvízkezelő berendezés telepítése vagy cseréje.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
