footer {
  background-color: #3f51b5; /* Indigókék */
}

footer a {
  color: #ffffff;
}

footer a:hover {
  text-decoration: underline;
  color: #e0e0e0;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}

footer .logo {
  border-radius: 50%; /* Kör alakú logó */
}
