<header
  class="position-relative"
  style="
    background: url('/assets/header.jpg') no-repeat center top;
    background-size: cover;
    height: 750px;
  "
>
  <div
    class="container h-100 d-flex flex-column justify-content-between text-center"
  >
    <div class="mt-3">
      <h1 class="display-4 fw-bold text-primary text-shadow">
        Vidéki Otthonfelújítási Program
      </h1>
    </div>

    <div class="mb-3">
      <button
        class="btn btn-light text-primary fw-bold px-4 py-2 rounded-pill shadow"
        (click)="scrollToSection('details')"
      >
        További információk
      </button>
    </div>
  </div>
</header>

<main class="container my-3">
  <!-- Főbb tudnivalók -->
  <section id="details">
    <div class="accordion shadow-sm rounded" id="infoAccordion">
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="headingInfo">
          <button
            class="accordion-button collapsed bg-light text-primary border-bottom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseInfo"
            aria-expanded="false"
            aria-controls="collapseInfo"
          >
            <strong>Főbb tudnivalók</strong>
          </button>
        </h2>
        <div
          id="collapseInfo"
          class="accordion-collapse collapse"
          aria-labelledby="headingInfo"
          data-bs-parent="#infoAccordion"
        >
          <div class="accordion-body text-secondary">
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                <strong
                  >A Vidéki Otthonfelújítási Programban csak azoknak a
                  magyarországi ingatlanoknak a felújítása történhet
                  meg,</strong
                >
                amelyek 5000 főnél kisebb lakosságszámú településen fekszenek.
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                legalább egy 25 év alatti gyermeket nevel saját háztartásában
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                az otthonfelújítási támogatás összege maximum 3 millió forint
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                a számlákkal igazolt felújítási költségek legfeljebb 50%-a
                (vagyis 6 milliós összeköltség esetében maximalizálható)
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                fele-fele arányban anyagköltségre, illetve munkadíjra vehető
                igénybe
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                nagykorú, cselekvőképes személy
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                magyar állampolgár vagy a szabad mozgás és a három hónapot
                meghaladó tartózkodás jogát Magyarország területén gyakorolja
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                magyarországi tb-jogviszonnyal rendelkezik, és legalább 1 éves
                (akár külföldi) tb-jogviszonya van legfeljebb 30 napos
                megszakítással (hazai és külföldi felsőoktatási tanulmány is
                lehetséges)
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                nem rendelkezik 5000 forintot meghaladó köztartozással
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                egyedülálló, házas, elvált vagy élettársi kapcsolatban élő
                egyaránt lehet
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                Azonos lakóhellyel rendelkező házas- és élettársak csak együttes
                igénylőként igényelhetik a támogatást, a tb-jogviszonyra
                vonatkozó feltételt elég egyiküknek teljesíteni, a köztartozásra
                vonatkozót viszont mindkettejüknek kell
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Hogyan igényelhető? -->
  <section id="details1">
    <div class="accordion shadow-sm rounded" id="infoAccordion1">
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="headingInfo2">
          <button
            class="accordion-button collapsed bg-light text-primary border-bottom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseInfo1"
            aria-expanded="false"
            aria-controls="collapseInfo1"
          >
            <strong>Hogyan igényelhető 2026.június 30-ig?</strong>
          </button>
        </h2>
        <div
          id="collapseInfo1"
          class="accordion-collapse collapse"
          aria-labelledby="headingInfo1"
          data-bs-parent="#infoAccordion1"
        >
          <div class="accordion-body text-secondary">
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                az igénylő, együttes igénylés esetén az igénylők egyike
                elektronikus azonosítását követően – a kincstár által
                üzemeltetett elektronikus felületen,
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                postai úton vagy
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                személyesen a kincstár területi szerveinél nyújtható be.
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                A támogatás a felújítási munkákat követően utólag, csak egy
                alkalommal vehető igénybe úgy, hogy nem akadály a korábbi
                otthonfelújítási támogatás igénybe vétele, de csak a 3 millióból
                még fennmaradt különbözetet lehet igénybe venni.
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                A támogatás a lakáson végzett építési tevékenységek befejezését
                és a számlák kifizetését követően 60 napon belül, de legkésőbb
                2026. június 30-ig igényelhető. Az igénylő köteles a benyújtott
                számlákat a legutolsó számla kifizetése napjától számított 5
                évig megőrizni.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Milyen ingatlanra vehető fel? -->
  <section id="details2">
    <div class="accordion shadow-sm rounded" id="infoAccordion2">
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="headingInfo2">
          <button
            class="accordion-button collapsed bg-light text-primary border-bottom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseInfo2"
            aria-expanded="false"
            aria-controls="collapseInfo2"
          >
            <strong>Milyen ingatlanra vehető fel?</strong>
          </button>
        </h2>
        <div
          id="collapseInfo2"
          class="accordion-collapse collapse"
          aria-labelledby="headingInfo2"
          data-bs-parent="#infoAccordion2"
        >
          <div class="accordion-body text-secondary">
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                5000 fő alatti kistelepülésen lévő ingatlanra igényelhető a
                támogatás (az oldalon ellenőrizhető az elfogadott település)
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                az ingatlan-nyilvántartásban lakásként vagy lakóházként van
                nyilvántartva, illetve tanya vagy birtokközpont (nyaraló tehát
                nem lehet)
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                az igénylő és/vagy kiskorú gyermeke legalább 50%-os tulajdonában
                van (lízingelt ingatlanra tehát nem vehető fel)
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                Több lakásból álló, közös tulajdonban lévő ingatlan esetén a
                feltételt teljesültnek kell tekinteni, ha az igénylő által
                benyújtott használati megállapodás, a tulajdonostársak
                határozata vagy bírósági ítélet alapján az igénylőknek
                együttesen kizárólagos használati joga áll fenn a támogatással
                érintett lakásra vagy annak alapterülete legalább 50%-ára
                vonatkozóan
              </li>
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                Az igénylőnek vállalnia kell, hogy a támogatás folyósításától
                számított 5 évig a támogatással érintett lakásban
                életvitelszerűen bent lakik. Ezt a feltételt azonban nem kell
                alkalmazni, ha:
                <ul class="mt-2">
                  <li>
                    az igénylő és a gyermek a foglalkoztatásra irányuló
                    jogviszony jellegéből következően – ideértve a sajátos
                    egyházi jogviszonyt is – köteles a szolgálati helyén, a
                    foglalkoztató által térítésmentesen biztosított szolgálati
                    lakásban lakni a jogviszony fennállása alatt,
                  </li>
                  <li>
                    a támogatott személyt vagy a jogosultságnál figyelembe vett
                    gyermeket egészségi állapota miatt tartósan egészségügyi
                    intézményben kezelik,
                  </li>
                  <li>
                    a támogatott személy munkavállalása miatt – indokoltan –
                    legfeljebb öt évig más településen tartózkodik,
                  </li>
                  <li>
                    a támogatott személy közeli hozzátartozója ápolása miatt
                    ideiglenesen nem a felújítással érintett lakásban lakik,
                  </li>
                  <li>
                    a támogatott személy vagy jogosultságnál figyelembe vett
                    gyermek elhunyt,
                  </li>
                  <li>
                    a nagykorú gyermek, akire tekintettel a támogatást
                    igényelték, elköltözik,
                  </li>
                  <li>a kiskorú gyermek nagykorúvá válása után elköltözik.</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Milyen felújításokra lehet felhasználni -->
  <section id="details3">
    <div class="accordion shadow-sm rounded" id="infoAccordion3">
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="headingInfo3">
          <button
            class="accordion-button collapsed bg-light text-primary border-bottom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseInfo3"
            aria-expanded="false"
            aria-controls="collapseInfo3"
          >
            <strong
              >Milyen felújításokra lehet felhasználni a támogatást?</strong
            >
          </button>
        </h2>
        <div
          id="collapseInfo3"
          class="accordion-collapse collapse"
          aria-labelledby="headingInfo3"
          data-bs-parent="#infoAccordion3"
        >
          <div class="accordion-body text-secondary">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Víz-, csatorna-, elektromos-, gáz-közműszolgáltatás bevezetése,
                illetve belső/külső hálózat kiépítése vagy cseréje.
              </li>
              <li class="list-group-item">
                Fürdőhelyiség vagy WC létesítése olyan lakásban, amely nem
                rendelkezik ilyen helyiséggel.
              </li>
              <li class="list-group-item">
                Fűtési rendszer kialakítása, korszerűsítése, vagy elemeinek
                cseréje, beleértve a megújuló energiaforrások alkalmazását.
              </li>
              <li class="list-group-item">
                Épület külső festése, színezése, szigetelése (hő-, hang-,
                vízszigetelés).
              </li>
              <li class="list-group-item">
                Külső nyílászárók beépítése, cseréje, redőny, árnyékoló, vagy
                egyéb kiegészítők felszerelése.
              </li>
              <li class="list-group-item">
                Tető cseréje, felújítása, szigetelése.
              </li>
              <li class="list-group-item">
                Égéstermék-elvezető építése, korszerűsítése.
              </li>
              <li class="list-group-item">
                Klímaberendezés beépítése vagy cseréje.
              </li>
              <li class="list-group-item">
                Napkollektor vagy napelemes rendszer telepítése.
              </li>
              <li class="list-group-item">
                Belső tér felújítása, ideértve festés, burkolás, galériaépítés,
                szaniterek beépítése, világítótestek cseréje.
              </li>
              <li class="list-group-item">
                Lakáson kívüli épületek felújítása (pl. nyári konyha, tároló).
              </li>
              <li class="list-group-item">Kerítés építése vagy felújítása.</li>
              <li class="list-group-item">
                Gépjárműtároló építése vagy felújítása, nyitott gépkocsibeálló
                kialakítása.
              </li>
              <li class="list-group-item">
                Terasz, loggia, erkély, előtető építése, felújítása.
              </li>
              <li class="list-group-item">
                Térburkolat vagy külső lépcső készítése.
              </li>
              <li class="list-group-item">Télikert kialakítása.</li>
              <li class="list-group-item">Akadálymentesítési munkálatok.</li>
              <li class="list-group-item">Alapozási szerkezet megerősítése.</li>
              <li class="list-group-item">
                Beépíthető bútorok vagy konyhai gépek beépítése, cseréje.
              </li>
              <li class="list-group-item">
                Használati melegvíz-rendszer kialakítása vagy korszerűsítése.
              </li>
              <li class="list-group-item">
                Szellőzési rendszer kialakítása, korszerűsítése.
              </li>
              <li class="list-group-item">
                Egyedi szennyvízkezelő berendezés telepítése vagy cseréje.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Milyen számla fogadható el? -->
  <section id="details4">
    <div class="accordion shadow-sm rounded mb-2" id="infoAccordion4">
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="headingInfo4">
          <button
            class="accordion-button collapsed bg-light text-primary border-bottom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseInfo4"
            aria-expanded="false"
            aria-controls="collapseInfo4"
          >
            <strong>Milyen számla fogadható el?</strong>
          </button>
        </h2>
        <div
          id="collapseInfo4"
          class="accordion-collapse collapse"
          aria-labelledby="headingInfo4"
          data-bs-parent="#infoAccordion4"
        >
          <div class="accordion-body text-secondary">
            <p>
              <strong
                >A munkálatok teljesítését igazoló számlaként az alábbiak
                fogadhatók el:</strong
              >
            </p>
            <ul class="list-group list-group-flush mb-3">
              <li class="list-group-item bg-light">
                Saját nevére szóló számla.
              </li>
              <li class="list-group-item bg-light">
                Az általános forgalmi adóról szóló törvény hatálya alá tartozó
                termékértékesítésről, illetve szolgáltatásnyújtásról kiállított
                számla.
              </li>
              <li class="list-group-item bg-light">
                Felújítással kapcsolatos tervezési, építési, szerelési
                munkálatok tekintetében egy vagy több, a vállalkozási szerződés
                vagy szerződések szerinti vállalkozó által kiállított számla.
              </li>
            </ul>
            <p>
              A felújítással kapcsolatos munkálatokat végző vállalkozó által
              kiállított számla csak akkor fogadható el, ha a vállalkozó az
              igénylőnek
              <strong>nem közeli hozzátartozója vagy élettársa</strong>, vagy
              gazdálkodó szervezet esetében az igénylő vagy az igénylő közeli
              hozzátartozója vagy élettársa, annak nem tagja, munkavállalója
              vagy vezető tisztségviselője.
            </p>
            <p>
              A támogatás az
              <strong
                >5%-os általános forgalmi adómértékkel kiállított számla</strong
              >
              vonatkozásában <strong>nem vehető igénybe</strong>.
            </p>
            <p><strong>Nem fogadható el:</strong></p>
            <ul class="list-group list-group-flush mb-3">
              <li class="list-group-item bg-light">
                Az olyan számla, amelyet a felújítással érintett lakás
                vonatkozásában, falusi CSOK igénylése során már elszámoltak.
              </li>
            </ul>
            <p><strong>Külön szabályok napelemes rendszer esetében:</strong></p>
            <p>
              Napelemes rendszer telepítését vagy cseréjét igazoló számla esetén
              az abban feltüntetett anyagköltség és kapcsolódó vállalkozói díj
              összesítve nem haladhatja meg a bruttó
              <strong>450 000 Ft/kWp</strong> összeget.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Igényléshez szükséges dokumentumok -->
  <section id="details5">
    <div class="accordion shadow-sm rounded mb-2" id="infoAccordion5">
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="headingInfo5">
          <button
            class="accordion-button collapsed bg-light text-primary border-bottom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseInfo5"
            aria-expanded="false"
            aria-controls="collapseInfo5"
          >
            <strong>Igényléshez szükséges dokumentumok</strong>
          </button>
        </h2>
        <div
          id="collapseInfo5"
          class="accordion-collapse collapse"
          aria-labelledby="headingInfo5"
          data-bs-parent="#infoAccordion5"
        >
          <div class="accordion-body text-secondary">
            <h6 class="text-secondary">Kötelezően benyújtandó dokumentumok</h6>
            <ul class="list-group list-group-flush mb-3">
              <li class="list-group-item bg-light">
                Vállalkozási szerződések másolata
              </li>
              <li class="list-group-item bg-light">
                Számlák, valamint az átutalással teljesített számlák kifizetését
                igazoló dokumentum másolata
              </li>
              <li class="list-group-item bg-light">
                Az igénylő(k)nek és a támogatásra való jogosultságnál figyelembe
                vett gyermek(ek) lakcímet igazoló hatósági igazolványának
                másolata
              </li>
              <li class="list-group-item bg-light">Számlaösszesítő</li>
              <li class="list-group-item bg-light">
                Az igénylő büntetőjogi felelőssége tudatában tett nyilatkozata a
                megfelelő TB jogviszonyról
              </li>
              <li class="list-group-item bg-light">
                A kérelem benyújtásához képest 15 napon belül kiállított
                adóigazolás
              </li>
              <li class="list-group-item bg-light">
                Személyazonosság igazolására személyazonosító igazolvány,
                útlevél vagy kártyaformátumú vezetői engedély másolata
              </li>
            </ul>
            <h6 class="text-secondary">Speciálisan benyújtandó dokumentumok</h6>
            <ul class="list-group list-group-flush mb-3">
              <li class="list-group-item bg-light">
                Várandósság 12. hetét betöltött magzat esetén: várandósgondozási
                kiskönyv vagy a kezelőorvos által kiállított igazolás a
                várandósság tényéről
              </li>
              <li class="list-group-item bg-light">
                Örökbefogadott gyermek esetén: gyámhatóság határozatának
                másolata
              </li>
              <li class="list-group-item bg-light">
                25. életévét betöltött gyermek esetén: megváltozott
                munkaképességű személlyé válásról szóló, orvosszakértői szerv
                által kiállított igazolás másolata
              </li>
              <li class="list-group-item bg-light">
                Megváltozott munkaképességű személy esetén: az ezt igazoló
                dokumentumok másolata
              </li>
              <li class="list-group-item bg-light">
                Gyámság esetén: gyámhatósági határozat másolata
              </li>
              <li class="list-group-item bg-light">
                Mozgáskorlátozott személyhez kapcsolódó akadálymentesítési
                munkák esetén: a mozgáskorlátozottságról szóló igazolás másolata
              </li>
              <li class="list-group-item bg-light">
                Több lakásból álló közös tulajdonú ingatlan esetén: közokirat
                vagy ügyvéd által ellenjegyzett magánokirat másolata
              </li>
              <li class="list-group-item bg-light">
                Szülői lemondó nyilatkozat: teljes bizonyító erejű
                magánokiratban tett nyilatkozat
              </li>
              <li class="list-group-item bg-light">
                Hozzájáruló nyilatkozat: házastárs/élettárs magánokiratba
                foglalt hozzájárulása
              </li>
              <li class="list-group-item bg-light">
                Kiegészítő tevékenység folytatása esetén: megfelelő hatósági
                dokumentum másolata
              </li>
              <li class="list-group-item bg-light">
                Az igénylést megelőzően külföldön fennálló munkaviszony esetén:
                hiteles magyar nyelvű fordítás
              </li>
              <li class="list-group-item bg-light">
                Nem magyar állampolgár esetén: érvényes tartózkodási kártya vagy
                állandó tartózkodási kártya másolata
              </li>
              <li class="list-group-item bg-light">
                GYOD vagy ápolási díj esetén: megfelelő hatósági határozat
                másolata
              </li>
              <li class="list-group-item bg-light">
                Nagykorú, de 25 év alatti gyermek esetén: adatkezelési
                hozzájárulása
              </li>
              <li class="list-group-item bg-light">
                Falusi CSOK esetén: családi otthonteremtési kedvezményhez
                kapcsolódó dokumentumok másolata
              </li>
              <li class="list-group-item bg-light">
                Napelemes rendszer telepítése vagy cseréje esetén: vállalkozói
                nyilatkozat az anyagköltség és díjak összesítéséről
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Jogszabály elérése -->
  <section id="details6">
    <div class="accordion shadow-sm rounded" id="infoAccordion6">
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="headingInfo6">
          <button
            class="accordion-button collapsed bg-light text-primary border-bottom"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseInfo6"
            aria-expanded="false"
            aria-controls="collapseInfo6"
          >
            <strong>Jogszabály</strong>
          </button>
        </h2>
        <div
          id="collapseInfo6"
          class="accordion-collapse collapse"
          aria-labelledby="headingInfo6"
          data-bs-parent="#infoAccordion6"
        >
          <div class="accordion-body text-secondary">
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-light">
                <i class="bi bi-check-circle-fill text-success me-2"></i>
                <a
                  href="https://njt.hu/jogszabaly/2024-389-20-22"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Jogszabály megtekintése
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-eligible-settlements></app-eligible-settlements>

<section class="container my-4">
  <h5 class="mb-3 text-primary">
    A támogatás iránti kérelem benyújtása elektronikusan és további részletek a
    Magyar Kincstárnál
  </h5>
  <a
    href="https://www.allamkincstar.gov.hu/csaladok-tamogatasa/Csalad_gyermek/videki-otthonfelujitasi-program/a-videki-otthonfelujitasi-program-kereteben-nyujthato-otthonfelujitasi-tamogatas"
    target="_blank"
    rel="noopener noreferrer"
    class="btn btn-outline-primary"
  >
    Megnyitás új ablakban
  </a>
</section>

<section class="container my-5">
  <app-calculations
    (calculationCompleted)="onCalculationResult($event)"
  ></app-calculations>
  <app-loans
    #loansSection
    *ngIf="showLoans"
    [totalAmount]="totalAmount"
  ></app-loans>
  <app-discounts #discountSection [showDiscounts]="showLoans"></app-discounts>
</section>

<section class="container my-5">
  <app-calculations
    (calculationCompleted)="onCalculationResult($event)"
  ></app-calculations>
  <app-loans
    #loansSection
    *ngIf="showLoans"
    [totalAmount]="totalAmount"
  ></app-loans>
  <app-discounts #discountSection [showDiscounts]="showLoans"></app-discounts>
</section>

<!-- Jogi nyilatkozat -->
<section class="container mb-4">
  <div class="alert alert-secondary small text-center" role="alert">
    Az oldalon található információk tájékoztató jellegűek. Az esetleges
    jogszabályi változásokból vagy elírásokból eredő károkért felelősséget nem
    vállalunk.
  </div>
</section>

<footer class="bg-indigo text-white py-5">
  <div class="container">
    <div class="row align-items-center">
      <!-- Logo és támogató szöveg -->
      <div class="col-md-6 d-flex align-items-center">
        <img
          src="./assets/logo/favicon2.png"
          alt="OtthonIndex logó"
          class="logo me-3"
          width="80"
          height="80"
        />
        <div>
          <p class="mb-0 fw-bold fs-5">
            OtthonIndex - itt az idő a megújulásra
          </p>
          <a
            href="http://otthonindex.hu"
            target="_blank"
            class="text-white text-decoration-none"
          >
            http://otthonindex.hu
          </a>
        </div>
      </div>

      <!-- Társasági információk -->
      <div class="col-md-6 text-md-end mt-4 mt-md-0">
        <p class="text-white-50 mb-0">
          © 2025 OtthonIndex. Minden jog fenntartva.
        </p>
      </div>
    </div>
  </div>
</footer>
