<div class="container mt-5">
  <div class="row">
    <!-- Kalkulátor -->
    <div class="col-md-12">
      <div class="card calculator-card shadow-lg">
        <div class="card-body">
          <h4
            class="card-title text-center text-uppercase fw-bold text-bg-success text-shadow mb-4"
          >
            Vidéki Otthonfelújítási Program Kalkulátor
          </h4>
          <form (ngSubmit)="calculate()">
            <div class="row g-3">
              <div class="col-md-6">
                <label for="materialCost" class="form-label"
                  >Anyagköltség (Ft)</label
                >
                <input
                  type="number"
                  class="form-control custom-input"
                  id="materialCost"
                  [(ngModel)]="materialCost"
                  name="materialCost"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="laborCost" class="form-label">Munkadíj (Ft)</label>
                <input
                  type="number"
                  class="form-control custom-input"
                  id="laborCost"
                  [(ngModel)]="laborCost"
                  name="laborCost"
                  required
                />
              </div>
            </div>
            <div class="mt-3">
              <label for="previousSupport" class="form-label"
                >Korábban kapott támogatás (Ft)</label
              >
              <input
                type="number"
                class="form-control custom-input"
                id="previousSupport"
                [(ngModel)]="previousSupport"
                name="previousSupport"
                required
              />
            </div>
            <div class="d-flex justify-content-between mt-4">
              <button
                type="submit"
                class="btn btn-primary custom-btn w-50 me-2"
              >
                Mekkora támogatást kaphatok?
              </button>
              <button
                type="button"
                class="btn btn-secondary custom-btn w-50"
                (click)="reset()"
              >
                Törlés
              </button>
            </div>
          </form>

          <!-- Eredmények -->
          <div class="row mt-4" *ngIf="result !== null">
            <div class="col-md-6">
              <div class="card result-card shadow-sm">
                <div class="card-body text-center">
                  <h6 class="fw-bold text-success">Támogatás összege</h6>
                  <p class="fs-5">{{ result | number : "1.0-0" }} Ft</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card result-card shadow-sm">
                <div class="card-body text-center">
                  <h6 class="fw-bold text-primary">Bruttó számla összege</h6>
                  <p class="fs-5">{{ totalAmount | number : "1.0-0" }} Ft</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card result-card shadow-lg">
                <div class="card-body text-center">
                  <h4 class="text-success fw-bold mb-3">
                    Látogass meg minket további részletekért!
                  </h4>
                  <p class="fs-5">
                    Ha érdekel, mennyibe kerülne a felújítás, és mennyit
                    spórolhatnál a rezsin, nézd meg oldalunkat:
                  </p>
                  <a
                    href="http://otthonindex.hu"
                    class="btn btn-success btn-lg fw-bold text-uppercase"
                    target="_blank"
                  >
                    OtthonIndex - itt az idő a megújulásra
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
